# Ignore everything in the docuwiki root
/*
/meta/*

# Windows image file caches
Thumbs.db
ehthumbs.db

# Un-ignore the files we want to track
!.gitignore
!backup-tags.sh
!/media/
!/meta/
!/meta/tagging.sqlite3
!/pages/

